.navbar-item{
    
    display: inline-block;
    position: relative;
    color: #000000!important;
    font-size: 1rem;

}

.navbar-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #289AE2 ;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #000;
    
}